[submodule "sb-types"]
	path = extern/sb-types
	url = git@github.com:guilherme-daros/sb-types.git
[submodule "sb-meta"]
	path = extern/sb-meta
	url = git@github.com:guilherme-daros/sb-meta.git
[submodule "extern/sb-container"]
	path = extern/sb-container
	url = git@github.com:guilherme-daros/sb-container.git
